definitions:
  model.User:
    properties:
      id:
        description: 識別碼
        example: "123"
        type: string
      name:
        description: 姓名
        example: david
        type: string
    type: object
info:
  contact: {}
paths:
  /internal/v1/user:
    post:
      parameters:
      - description: 會員資料
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/model.User'
      produces:
      - application/json
      responses: {}
      summary: 新增
      tags:
      - 用戶
  /internal/v1/user/{id}:
    delete:
      description: 說明
      produces:
      - application/json
      responses: {}
      summary: 刪除
      tags:
      - 用戶
    patch:
      consumes:
      - application/json
      description: 說明
      produces:
      - application/json
      responses: {}
      summary: 部份更新
      tags:
      - 用戶
  /private/v1/user/{id}:
    get:
      parameters:
      - description: 會員id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      summary: 查單筆
      tags:
      - 用戶
  /v1/users:
    get:
      parameters:
      - description: 會員姓名
        in: query
        name: name
        required: true
        type: string
      - description: 職級
        enum:
        - A
        - B
        - C
        in: query
        name: level
        type: string
      - description: 支付方式
        in: query
        items:
          enum:
          - CreditCard
          - LinePay
          - ApplePay
          type: string
        name: method
        type: array
      produces:
      - application/json
      responses: {}
      summary: 查多筆
      tags:
      - 用戶
swagger: "2.0"
